function Main.main 3
push constant 0
pop local 0
call Game.new 0
pop local 2
push local 2
call Game.init 1
pop temp 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 1
push local 2
call Game.isGameEnd 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 114
eq
push local 1
push constant 82
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Screen.clearScreen 0
pop temp 0
push local 2
call Game.dispose 1
pop temp 0
call Game.new 0
pop local 2
push local 2
call Game.init 1
pop temp 0
label IF_FALSE1
goto IF_END0
label IF_FALSE0
push local 1
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
call Game.keyLeft 1
pop temp 0
label IF_FALSE2
push local 1
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
call Game.keyRight 1
pop temp 0
label IF_FALSE3
push local 1
push constant 131
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 2
call Game.keyUp 1
pop temp 0
label IF_FALSE4
push local 1
push constant 133
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 2
call Game.keyDown 1
pop temp 0
label IF_FALSE5
label IF_END0
goto WHILE_EXP1
label WHILE_END1
label WHILE_EXP2
push local 1
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 1
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push local 2
call Game.dispose 1
pop temp 0
push constant 0
return
