function Map.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push constant 10
pop this 5
push constant 16
pop this 6
push constant 0
pop this 0
push constant 32
pop this 3
push constant 6
pop this 1
push constant 25
pop this 2
push constant 2
pop this 4
push pointer 0
return
function Map.getY 0
push argument 0
pop pointer 0
push this 5
return
function Map.getRiverLeft 0
push argument 0
pop pointer 0
push this 1
return
function Map.getRiverRight 0
push argument 0
pop pointer 0
push this 2
return
function Map.getBoundaryLeft 0
push argument 0
pop pointer 0
push this 0
return
function Map.getBoundaryRight 0
push argument 0
pop pointer 0
push this 3
return
function Map.getBankHigh 0
push argument 0
pop pointer 0
push this 4
return
function Map.draw 12
push argument 0
pop pointer 0
push this 0
push this 6
call Math.multiply 2
pop local 0
push this 1
push this 6
call Math.multiply 2
pop local 1
push local 1
pop local 2
push this 2
push this 6
call Math.multiply 2
pop local 3
push local 3
pop local 4
push this 3
push this 6
call Math.multiply 2
push constant 1
sub
pop local 5
push this 5
push this 6
call Math.multiply 2
pop local 6
push local 6
pop local 7
push local 6
push this 4
push this 6
call Math.multiply 2
add
pop local 8
push local 8
pop local 9
push local 6
pop local 10
push local 6
pop local 11
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 6
push local 1
push local 7
call Screen.drawLine 4
pop temp 0
push local 1
push local 7
push local 2
push local 8
call Screen.drawLine 4
pop temp 0
push local 2
push local 8
push local 3
push local 9
call Screen.drawLine 4
pop temp 0
push local 3
push local 9
push local 4
push local 10
call Screen.drawLine 4
pop temp 0
push local 4
push local 10
push local 5
push local 11
call Screen.drawLine 4
pop temp 0
push local 0
push local 6
push local 1
push local 7
call Screen.drawLine 4
pop temp 0
push local 0
push local 6
push local 1
push local 7
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Map.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
