function People.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 2
push constant 0
pop this 3
push constant 16384
pop this 4
push constant 0
pop this 5
call PeopleBitmap.new 0
pop this 1
push pointer 0
return
function People.isSatDown 0
push argument 0
pop pointer 0
push this 0
push constant 2
eq
return
function People.isHandsUp 0
push argument 0
pop pointer 0
push this 0
push constant 1
eq
return
function People.isStand 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
return
function People.sitDown 0
push argument 0
pop pointer 0
push this 0
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 0
push pointer 0
push this 0
call People.setPose 2
pop temp 0
push constant 0
return
label IF_FALSE1
push this 0
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 0
push pointer 0
push this 0
call People.setPose 2
pop temp 0
push constant 0
return
label IF_FALSE2
push constant 0
return
function People.standUp 0
push argument 0
pop pointer 0
push this 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 0
push pointer 0
push this 0
call People.setPose 2
pop temp 0
push constant 0
return
label IF_FALSE1
push this 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 0
push pointer 0
push this 0
call People.setPose 2
pop temp 0
push constant 0
return
label IF_FALSE2
push constant 0
return
function People.getPose 0
push argument 0
pop pointer 0
push this 0
return
function People.setPose 0
push argument 0
pop pointer 0
push pointer 0
call People.erase 1
pop temp 0
push this 1
push argument 1
call PeopleBitmap.setPose 2
pop temp 0
push pointer 0
call People.draw 1
pop temp 0
push constant 0
return
function People.getWidth 0
push argument 0
pop pointer 0
push constant 1
return
function People.getHeight 0
push argument 0
pop pointer 0
push constant 1
return
function People.getX 0
push argument 0
pop pointer 0
push this 2
return
function People.getY 0
push argument 0
pop pointer 0
push this 3
return
function People.setX 0
push argument 0
pop pointer 0
push pointer 0
call People.erase 1
pop temp 0
push argument 1
pop this 2
push constant 0
return
function People.setY 0
push argument 0
pop pointer 0
push pointer 0
call People.erase 1
pop temp 0
push argument 1
pop this 3
push constant 0
return
function People.draw 6
push argument 0
pop pointer 0
push this 2
push this 3
push constant 32
call Math.multiply 2
push constant 16
call Math.multiply 2
add
pop local 3
push this 4
push local 3
add
pop local 2
push constant 0
pop local 4
push this 1
call PeopleBitmap.getAddrs 1
pop local 0
push this 1
call PeopleBitmap.getValues 1
pop local 1
push this 1
call PeopleBitmap.getLength 1
pop local 5
label WHILE_EXP0
push local 4
push local 5
eq
not
not
if-goto WHILE_END0
push this 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push local 4
push local 0
add
pop pointer 1
push that 0
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE0
push this 5
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push local 4
push local 0
add
pop pointer 1
push that 0
add
push local 4
push local 1
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
label IF_FALSE1
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function People.erase 0
push argument 0
pop pointer 0
push constant 0
not
pop this 5
push pointer 0
call People.draw 1
pop temp 0
push constant 0
pop this 5
push constant 0
return
function People.dispose 0
push argument 0
pop pointer 0
push this 1
call PeopleBitmap.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
